.button {
  min-height: 3rem;
  min-width: 50%;
  width: fit-content;
  font-size: 1.1rem;
  padding: 4px 18px;
  cursor: pointer;

  color: white;
  border: 1px solid #ff6f56;
  border-radius: 4pt;
  background-color: #ff6f56;

  &.secondary {
    color: #ff6f56;
    background-color: white;
  }

  &:hover:not(:disabled) {
    color: white;
    background-color: #f63e02;
    border-color: #f63e02;
  }

  &.fluid {
    width: 100%;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  transition: all 0.15s ease-in-out;
}
