.invalidInputText {
  color: #ff0033;
}

.mainInfoForm {
  width: 100%;

  p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  div {
    margin-bottom: 0.75rem;
  }

  button {
    margin-top: 1.5rem;
    margin-bottom: 16px;
  }
}

.documentForm,
.livenessForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
  width: 100%;
  height: 100%;

  p {
    font-size: 1.2rem;
    margin-top: 3rem;
    margin-bottom: auto;
  }

  button {
    margin-top: 1rem;
    margin-bottom: auto;
  }
}

.boxContainer {
  margin-top: 24px;
  position: relative;
  flex-direction: column;
  align-self: center;
  width: 85%;
  justify-content: flex-start;
  height: fit-content;
}

.submitButton {
  margin-top: 24px;
  width: 100%;
  max-width: 300px;
}

.stepIndicator {
  position: absolute;
  bottom: 0;
  margin-bottom: 12px;
}
