.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-top: 72px;
  padding-left: 36px;
  padding-right: 48px;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  color: #ff4438;
}

.success {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 1.6rem;
    color: #ff4438;
  }

  p {
    margin: 1.5rem 0;
    font-size: 1.2rem;
  }
}

.illustration {
  width: 25%;
  height: auto;
  object-fit: contain;
}

.boxContainer {
  margin-top: 24px;
  position: relative;
  flex-direction: column;
  align-self: center;
  width: 85%;
  justify-content: flex-start;
  height: fit-content;
}
