.searchContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;

  div:last-child {
    display: flex;
    flex: 1;
    margin-left: 15px;
  }
}
